In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2020-07-08 16:49:13,-16.48,-151.75,76.87,81,56,29.26
1,1,Santa Rosa,PH,2020-07-08 16:49:13,14.31,121.11,82.99,77,72,1.01
2,2,Cidreira,BR,2020-07-08 16:49:13,-30.18,-50.21,62.04,80,100,20.38
3,3,Bluff,NZ,2020-07-08 16:49:13,-46.60,168.33,39.00,83,91,3.00
4,4,Punta Arenas,CL,2020-07-08 16:46:29,-53.15,-70.92,28.40,92,75,4.70

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Store the CSV you saved/created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2020-07-08 16:49:13,-16.48,-151.75,76.87,81,56,29.26
1,1,Santa Rosa,PH,2020-07-08 16:49:13,14.31,121.11,82.99,77,72,1.01
2,2,Cidreira,BR,2020-07-08 16:49:13,-30.18,-50.21,62.04,80,100,20.38
3,3,Bluff,NZ,2020-07-08 16:49:13,-46.60,168.33,39.00,83,91,3.00
4,4,Punta Arenas,CL,2020-07-08 16:46:29,-53.15,-70.92,28.40,92,75,4.70

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key. You only have to do this once
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature. Replace negative temps with 0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of temperature using List Comprehension.  eliminates the for loop step
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable. use list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Heatmap of temperature using List Comprehension.  eliminates the for loop step
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable with center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. use list comprehension
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Heatmap of temperature using List Comprehension.  eliminates the for loop step
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable with center and zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. use list comprehension, heat dissipation, etc
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Faanui,PF,2020-07-08 16:49:13,-16.48,-151.75,76.87,81,56,29.26
1,1,Santa Rosa,PH,2020-07-08 16:49:13,14.31,121.11,82.99,77,72,1.01
6,6,San Patricio,MX,2020-07-08 16:49:13,19.22,-104.70,80.60,88,90,13.87
10,10,Shache,CN,2020-07-08 16:49:14,38.42,77.24,85.42,13,36,9.73
13,13,Hami,CN,2020-07-08 16:49:14,42.80,93.45,81.72,19,7,9.82
14,14,Sao Filipe,CV,2020-07-08 16:49:14,14.90,-24.50,79.45,80,81,8.41
18,18,Tual,ID,2020-07-08 16:49:15,-5.67,132.75,79.25,82,97,22.84
20,20,Port Blair,IN,2020-07-08 16:46:30,11.67,92.75,80.65,78,58,6.46
22,22,Albany,US,2020-07-08 16:49:15,42.60,-73.97,86.00,65,75,9.17
24,24,Kailua,US,2020-07-08 16:49:15,21.40,-157.74,77.00,69,75,10.29

In [25]:
preferred_cities_df.count()

City_ID       215
City          215
Country       215
Date          215
Lat           215
Lng           215
Max Temp      215
Humidity      215
Cloudiness    215
Wind Speed    215
dtype: int64

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
0         Faanui      PF     76.87 -16.48 -151.75
1     Santa Rosa      PH     82.99  14.31  121.11
6   San Patricio      MX     80.60  19.22 -104.70
10        Shache      CN     85.42  38.42   77.24
13          Hami      CN     81.72  42.80   93.45
14    Sao Filipe      CV     79.45  14.90  -24.50
18          Tual      ID     79.25  -5.67  132.75
20    Port Blair      IN     80.65  11.67   92.75
22        Albany      US     86.00  42.60  -73.97
24        Kailua      US     77.00  21.40 -157.74

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Faanui,PF,76.87,-16.48,-151.75,InterContinental Bora Bora Resort Thalasso Spa
1,Santa Rosa,PH,82.99,14.31,121.11,Dusit Thani Manila
6,San Patricio,MX,80.60,19.22,-104.70,Vista Playa de Oro Manzanillo
10,Shache,CN,85.42,38.42,77.24,Delong Hotel
13,Hami,CN,81.72,42.80,93.45,Post And Telecommunication Hotel
14,Sao Filipe,CV,79.45,14.90,-24.50,Tortuga B&B
18,Tual,ID,79.25,-5.67,132.75,Grand Vilia Hotel
20,Port Blair,IN,80.65,11.67,92.75,Hotel Sentinel
22,Albany,US,86.00,42.60,-73.97,CrestHill Suites SUNY University Albany
24,Kailua,US,77.00,21.40,-157.74,Paradise Bay Resort