In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key. You only have to do this once
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV saved/created in part two into a DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
vacation_data_df.head()

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches),Hotel Name
0,4,4,Pochutla,MX,15.74,-96.47,87.01,62,40,11.41,scattered clouds,0.0,0,Hotel Posada San Jose
1,5,5,Sakakah,SA,29.97,40.21,91.40,18,0,10.29,clear sky,0.0,0,Fakhamat Al Orjoana Apartment
2,7,7,Kahului,US,20.89,-156.47,89.60,40,20,24.16,few clouds,0.0,0,Maui Seaside Hotel
3,8,8,Arraial Do Cabo,BR,-22.97,-42.03,75.20,69,0,13.87,clear sky,0.0,0,Pousada Porto Praia
4,11,11,Vaini,TO,-21.20,-175.20,73.40,78,75,14.99,broken clouds,0.0,0,Keleti Beach Resort

In [4]:
# Create separte dataframe for first city
# city1_data_df = vacation_data_df[vacation_data_df.City_ID == 23]
city1_data_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Jamestown')]
city1_data_df

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches),Hotel Name
23,66,66,Jamestown,US,42.1,-79.24,70.0,93,90,14.99,light rain,0.0,0,Hampton Inn & Suites Jamestown

In [5]:
# Create separte dataframe for second city
# city2_data_df = vacation_data_df[vacation_data_df.City == 'Corning']
city2_data_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Corning')]
city2_data_df

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches),Hotel Name
110,282,282,Corning,US,42.14,-77.05,78.8,57,90,24.16,overcast clouds,0.0,0,Fairfield Inn by Marriott Corning Riverside

In [6]:
# Create separte dataframe for 3rd city
# city3_data_df = vacation_data_df[vacation_data_df.City == 'Broome']
city3_data_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Broome')]
city3_data_df

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches),Hotel Name
85,221,221,Broome,US,42.25,-75.83,78.01,73,75,10.29,broken clouds,0.0,0,Chenango Valley State Park

In [7]:
# Create separte dataframe for fourth city
# city4_data_df = vacation_data_df [vacation_data_df.City == 'Albany']
city4_data_df = vacation_data_df.loc[(vacation_data_df["City"] == 'Albany')]
city4_data_df

,City_ID,City_ID.1,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches),Hotel Name
17,48,48,Albany,US,42.6,-73.97,89.6,52,75,16.11,broken clouds,0.0,0,NaN

In [8]:
# Get the latitude-longitude pairs for each city DataFrame
city1_pair = city1_data_df["Lat"].values[0],city1_data_df["Lng"].values[0]
city2_pair = city2_data_df["Lat"].values[0],city2_data_df["Lng"].values[0]             
city3_pair = city3_data_df["Lat"].values[0],city3_data_df["Lng"].values[0] 
city4_pair = city4_data_df["Lat"].values[0],city4_data_df["Lng"].values[0] 
city1_pair

(42.1, -79.24)

In [10]:
fig = gmaps.figure()
city1_to_city4 = gmaps.directions_layer(city1_pair, city4_pair, waypoints=[city2_pair, city3_pair],
        travel_mode='DRIVING')
fig.add_layer(city1_to_city4)
fig

Figure(layout=FigureLayout(height='420px'))